/**
 * Site footer
 */
footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit * 2 0 $spacing-unit * 4 0;
}

/**
 * Index
 */

header {
  border-bottom: 1px solid $grey-color-light;
  padding-top: ($spacing-unit * 3);
  padding-bottom: ($spacing-unit * 2);

  @include relative-font-size(1.5);

  @include media-query($on-laptop) {
    @include relative-font-size(1.25);
  }
}

.post-listing {
  margin-bottom: $spacing-unit * 2;
}

.post-listing:last-child {
  margin-bottom: $spacing-unit * 4;
}

.post-listing .date {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-listing .link {
  margin-top: $spacing-unit / 4;
}


/**
 * Posts
 */
.post .title {
  @include relative-font-size(2.25);
  line-height: 125%;

  @include media-query($on-laptop) {
    @include relative-font-size(1.85);
  }
}

.post .meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post .content {
  margin-bottom: $spacing-unit * 2;

  h2 {
    @include relative-font-size(1.75);

    @include media-query($on-laptop) {
      @include relative-font-size(1.5);
    }
  }

  h3 {
    @include relative-font-size(1.5);

    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post hr {
  border: none;
  margin: ($spacing-unit / 2) 0;
}

.post hr:after {
  content: "✼ ✻ ✼";
  font-size: 14px;
  text-align: center;
  display: block;
  color: $brand-color;
}

::selection {
    background: #fef4ad;
}

