<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="wrapper" aria-label="Content">
      <article class="post">
        <span class="meta">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </span>

        <h1 class="title">{{ page.title | escape }}</h1>

        <div class="content">
          {{ content }}
        </div>
      </article>
    </main>

    {%- include footer.html -%}
  </body>
</html>
